<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Get on the Fucking Boat you Cunt</h1>
            <p>For everyone who is just so fucking hateful, such a fucking cunt, that the only proper place for
                them is a nice big boat. All together.<br>
                That way when we set fire to it, we'll solve a lot of problems</p>
        </div>
    </div>

    <div class="container">
        <h1>What Cunt do you want to see on the Boat</h1>
        <p>
        <h4>The #1 rated cunt is, and always will be, <a href="{{ url_for('cunt', cuntname=most_hated.name) }}">{{ most_hated.name }}</a> with {{ '{0:,}'.format(most_hated.votes) }} votes.</h4>
        </p>
        <p>
            Don't worry. We still have {{ remaining }} places on the boat. So feel free to add another cunt to the Boat
        </p>
        </form>
        <form action="" method="post" class="form-inline" role="form" name="Cunt">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label for="cuntname">Enter the name of the Cunt</label>
                <input type="text" class="form-control" name="cuntname" id="cuntname" placeholder="Cunt">
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
